**Back**

-terminar controlers y handler de movement
-terminar controlers y handler de payment
 ↳ agregar la funcionalidad de adelantar pagos(filtrando por ultimas fechas)
-implementar las demas funcionalidades restantes a los archivos ya existentes

**front**
-